body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.437);
    margin: 0;
    padding: 0;
  }
  
  .task-container {
    max-width: 400px;
    margin: 20px auto;
    background: rgb(242, 242, 242);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.1);
  }
  
  .task-input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .task-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .task-button:hover {
    background-color: #9f62f6;
  }
  
  .task-list {
    list-style: none ;
    padding: 0;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    padding: 17px;
    border-bottom: 1px solid #0e0e0e;
  }
  
  .task-item button {
    background: rgb(255, 0, 0);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
  }
  
  .task-item button:hover {
    background: darkred;
  }
  